<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cynrise Forecast</title>
    <link rel="icon" href="/img/cloudy-day.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}

        <h1>Cynrise Forecast</h1>
        <p>Your daily dose of sunshine 🌅</p>

        <form>
            <input placeholder="Enter your location ᯓ  ✈︎">
            <button>Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>

    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>
</html>